* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
p {
  color: #333;
}
span {
  font-weight: bold;
  color: #bbb;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 화면 높이만큼의 공간 확보 */
  margin: 0;
}
.back {
  position: fixed; bottom: 3vw; left: 2vw;
  width: 80px; height: 80px;
  border-radius: 50%;
  border: 1px solid #888;
  background-image: url(assents/img/free-icon-arrow-left-6423875.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eee;
  opacity: 0.7;
}

#wrap {
  margin: 0 auto;
  display: flex
}
.Aboutme-content {
  padding: 3vh 8vw 0vh 8vw;
  /* background-color: #888; */
  /* margin-left: 6vw; */
}
.Aboutme-content h2 {
  font-size: 33px;
  margin-bottom: 20px;
  color: #333;
}
.Aboutme-content img {
  width: 310px;
  border-radius: 50%;
}
.Aboutme {
  display: flex;
  padding: 8px 5px;
  /* background-color: #bbb; */
  margin-top: 4vh;
}
.Aboutme span {
  display: block;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
}
.Aboutme p {
  display: block;
  margin: 12px 0px 12px 18px;
}

.info-content {
  padding: 5vh 0% 0% 4vw;
  /* background-color: aqua; */
}
.info-content h3 {
  font-size: 18px;
  margin: 0 0 15px 0;
  color: #333;
}
.info {
  display: flex;
  margin-bottom: 4vw;
}
.info span {
  display: block;
}
.year-2020 {
  margin-top: 38px;
}
.info p {
  margin: 0 0 9px 8px;
}

.license {
  margin-bottom: 3vw;
}
.license span {
  display: block;
}
.license p {
  display: block;
}


.skill-content {
  display: flex;
}
.poto, .ai, .figma {
  display: flex;
  width: 330px;
  margin: 0 3vh 4vh 0;
  /* background-color: #ccc; */
}
.html, .css, .js {
  display: flex;
  width: 330px;
  margin: 0 3vh 4vh 3vh;
  /* background-color: #ccc; */
}
.poto img, .ai img {
  width: 66px;
  margin-right: 15px;
}
.figma img {
  width: 81px; 
  margin-left: -7px;
}
.html img, .css img, .js img {
  width: 60px;
  margin-left: 5px;
}

.poto-skill, .ai-skill, .figma-skill, .html-skill, .css-skill, .js-skill {
  display: flex;
  flex-direction: column;
}
.poto-skill > p, .ai-skill > p {
  margin-top: 13px;
}
.figma-skill > p {
  margin-top: 13px;
  margin-left: 8px;
}
.html-skill > p, .css-skill > p, .js-skill > p {
  margin-top: 13px;
  margin-left: 17px;
}
.poto-box, .ai-box, .figma-box, .html-box, .css-box, .js-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.poto-box p, .ai-box p, .figma-box p, .html-box p, .css-box p, .js-box p {
  font-size: 20px;
  margin-left: 5px;
  font-weight: 500;
}

/* 기본 상태: background-size를 0%로 설정 */
.skill-box {
  width: 175px;
  height: 15px;
  background-color: #eee;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  transition: background-size 1.5s ease-in-out; /* 애니메이션 효과 */
}

.poto-box .skill-box, .ai-box .skill-box {
  width: 175px; height: 15px;
  /* background-color: #333; */
}
.figma-box .skill-box {
  width: 175px; height: 15px;
  /* background-image: linear-gradient(to right, #333 70%, #eee 30%); */
  margin-left: 8px;
}
.html-box .skill-box, .css-box .skill-box {
  width: 175px; height: 15px;
  /* background-image: linear-gradient(to right, #333 80%, #eee 20%); */
  margin-left: 17px;
}
.js-box .skill-box {
  width: 175px; height: 15px;
  /* background-image: linear-gradient(to right, #333 35%, #eee 0%); */
  margin-left: 17px;
}